<h3 class="font-weight-bold">Resource Deposit</h3>
<div>
  <div class="m-3">
   
  
    <p-table
      [value]="resoucedeposits"
      [paginator]="true" [rows]="3"
      [resizableColumns]="true"
      (onEditComplete)="performUpdate($event)"
    >
      <ng-template pTemplate="header">
        
        <tr>
          <th pResizableColumn scope="col" translate>Resource ID</th>
          <th pResizableColumn scope="col" translate>Mineral ID</th>
          <th pResizableCoZlumn>Site ID</th>
          <th pResizableColumn>Unit</th>
          <th pResizableColumn>Quantity</th> 
          <th pResizableColumn>Explored Date</th>
          <th pResizableColumn>Explored By</th>
          <th pResizableColumn>Lab Approved Date</th>
          <th pResizableColumn>Lab Approved By</th>
          <th pResizableColumn>Is Active</th>
          <th pResizableColumn>Remark</th>
          <th pResizableColumn scope="col">
           
            <button
              type="button"
         
              class="btn btn-primary"
              (click)="clearForm()"
              translate
            >
              Add New
            </button>
          </th>
        </tr>
        <tr *ngIf="IsAddFormVisible">
        <td class="p-2">
          <input
            type="text"
            [(ngModel)]="resoucedeposits.Resource_ID"
            class="form-control"
            name="Resource_ID"
            placeholder="Resource_ID"
            id="Resource_ID"
            required
            readonly
          />
        </td>
        <td>  
          <input type="text" class="form-control form-control-sm" id="Mineral_ID" placeholder="Mineral_ID"  
          (click)="isAccountVisible=true" 
           [(ngModel)]="resoucedeposits.Mineral_ID" name ="Mineral_ID" readonly>          
          <p-dialog
            header="Mineral ID" 
            [(visible)]="isAccountVisible"
            [modal]="true"
            [responsive]="true"
            [width]="500"
            [minWidth]="200"
            [minY]="70"
            [maximizable]="true"
            [baseZIndex]="10000"
          >
            <p-table [value]="accountNoos" [paginator]="true" [rows]="7"  [globalFilterFields]="['value','lable']" 
            #ptable
          >
          <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                <div style="width: 100%;">
                  <i class="pi pi-search"></i>
                  <input  class="form-control" (input)="ptable.filterGlobal($event.target.value, 'contains')" placeholder="Search Globally" />
                </div>  
               </span>
           </div>  </ng-template>
           <ng-template pTemplate="header">
           <tr scope="col" translate>
           <th>Mineral ID</th>
          </tr>
         </ng-template>
              <ng-template pTemplate="body" let-account>
                  <tr (click)="onAccountSelectionChange(account)">
                    <td>{{account.value}}</td>
                    <td>{{account.label}}</td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td>
                        No records found
                    </td>
                </tr>
              </ng-template>
            </p-table>
          </p-dialog>
        </td>
          
        <td>  <input type="text" class="form-control form-control-sm" id="Site_ID" placeholder="Site_ID"  
          (click)="isAccountModalVisible=true" 
           [(ngModel)]="resoucedeposits.Site_ID" name ="Site_ID" readonly>          
          <p-dialog
            header="Site ID" 
            [(visible)]="isAccountModalVisible"
            [modal]="true"
            [responsive]="true"
            [width]="500"
            [minWidth]="200"
            [minY]="70"
            [maximizable]="true"
            [baseZIndex]="10000"
          >
            <p-table [value]="accountNoo" [paginator]="true" [rows]="7"  [globalFilterFields]="['value','lable']" 
            #ptable
          >
          <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                <div style="width: 100%;">
                  <i class="pi pi-search"></i>
                  <input  class="form-control" (input)="ptable.filterGlobal($event.target.value, 'contains')" placeholder="Search Globally" />
                </div>  
               </span>
           </div>  </ng-template>
           <ng-template pTemplate="header">
           <tr scope="col" translate>
           <th>Site ID</th>
          </tr>
         </ng-template>
              <ng-template pTemplate="body" let-account>
                  <tr (click)="onAccountSelectionChange(account)">
                    <td>{{account.value}}</td>
                    <td>{{account.label}}</td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td>
                        No records found
                    </td>
                </tr>
              </ng-template>
            </p-table>
          </p-dialog>
        </td>

          <td>
            <select class="custom-select custom-select-sm"
                 id="Unit_Type" 
                name="Unit_Type"
               [(ngModel)]="resoucedeposits.Unit">
                <ng-container *ngFor="let Unit of UnitList">
                <option value="{{Unit.lkdetail_code}}">
                               {{Unit.english_description}}</option>
                 </ng-container>
                </select>
              </td>
           <td class="p-2">
            <input
              type="number"
              [(ngModel)]="resoucedeposits.Quantity"
              class="form-control"
              name="Quantity"
              placeholder="Quantity"
              id="Quantity"
              required
            />
          </td>  
           <td class="p-2">
            <input
              type="date"
              [(ngModel)]="resoucedeposits.Explored_Date"
              class="form-control"
              name="Explored_Date"
              placeholder="Explored_Date"
              id="Explored_Date"
              required
            />
          </td> 
          <td class="p-2">
            <input
              type="text"
              [(ngModel)]="resoucedeposits.Explored_By"
              class="form-control"
              name="Explored_By"
              placeholder="Explored_By"
              id="Explored_By"
              required
            />
          </td> 
          <td class="p-2">
            <input
              type="date"
              [(ngModel)]="resoucedeposits.Lab_Approved_Date"
              class="form-control"
              name="Lab_Approved_Date"
              placeholder="Lab_Approved_Date"
              id="Lab_Approved_Date"
              required
            />
          </td> 
          <td class="p-2">
            <input
              type="date"
              [(ngModel)]="resoucedeposits.Lab_Approved_By"
              class="form-control"
              name="Lab_Approved_By"
              placeholder="Lab_Approved_By"
              id="Lab_Approved_By"
              required
            />
          </td>
          <td class="p-2">
            <input
              type="checkbox"
              [(ngModel)]="resoucedeposits.Is_Active"
              class="form-control"
              name="Is_Active"
              placeholder="Is_Active"
              id="Is_Active"
              required
            />
          </td> 
           <td class="p-2">
            <input
              type="text"
              [(ngModel)]="resoucedeposits.Remark"
              class="form-control"
              name="Remark"
              placeholder="Remark"
              id="Remark"
              required
            />
          </td>
          <td scope="col" rowspan="2" style="text-align: center">
            <button
              type="button"
           
              class="btn btn-primary"
              (click)="saveData()"
              translate
            >
              Save
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resoucedeposits> 
         <tr>
          <td>
            {{ resoucedeposits.Resource_ID }}
          </td>
           <td>
            {{ resoucedeposits.Mineral_ID }}
          </td> 
          
           <td>
            {{ resoucedeposits.Site_ID }}
          </td>
          <td>
            {{ resoucedeposits.Unit }}
          </td> 
           <td>
            {{ resoucedeposits.Quantity }}
          </td> 
           <td>
            {{ resoucedeposits.Explored_Date }}
          </td> 
          
           <td>
            {{ resoucedeposits.Exlored_By }}
          </td> 
             <td>
            {{ resoucedeposits.Lab_Approved_Date }}
          </td> 
          <td>
            {{ resoucedeposits.Lab_Approved_By }}
          </td>
          <td>
            {{ resoucedeposits.Is_active }}
          </td> 
          <td>
            {{ resoucedeposits.Remark }}
          </td> 
        <td>
          <!-- <button
          type="button"
          class="btn btn-primary"
            (click)="deleteperiods(resoucedeposits)"
          >
            <i class="pi pi-trash"></i>
            Delete
          </button> -->
        </td> 
       
      </tr>
    </ng-template> -->
    </p-table>
  </div>
</div>
