<tabset #tabset>
  <tab heading="Mineral">
    <app-mineral
     
    ></app-mineral>
  </tab>

  <!-- <tab heading="Mineral Data">
    <div class="m-3 row"> 
      <div class="col-md-3">
      </div>

      <div >
        <p-table [value]="minerals" [paginator]="true" [rows]="3">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" translate>Mineral  ID</th>
              <th scope="col" translate>Code</th>
              <th scope="col" translate>Name</th>
              <th scope="col" translate>Class</th>
              <th scope="col" translate>Mineral Use</th>
              <th scope="col" translate>Chemical Classification</th>
              <th scope="col" translate>Crystal Structure </th>
              <th scope="col" translate>Hardness </th>
              <th scope="col" translate>Lustre </th>
              <th scope="col" translate>Diaphaneity</th>
              <th scope="col" translate>Color</th> -->
              <!-- <th scope="col" translate>Streak</th>
              <th scope="col" translate>Fracture</th>
              <th scope="col" translate>Parting</th>
              <th scope="col" translate>Tenacity</th>
              <th scope="col" translate>Specific Gravity</th>
              <th scope="col" translate>Other Properties</th> -->
              <!-- <th scope="col" translate>Is Active</th> -->
              <!-- <th scope="col" translate>Remarks</th>  -->
              <!-- <th></th>
            </tr>
           
          </ng-template>
          <ng-template pTemplate="body" let-minerals>
            <tr>
              <td>{{ minerals.mineral_Id }}</td>
              <td>{{ minerals.code }}</td>
              <td>{{ minerals.name }}</td>
              <td>{{ minerals.class }}</td>
              <td>{{ minerals.mineral_Use }}</td>
              <td>{{ minerals.chemical_Classification }}</td>
              <td>{{ minerals.crystal_Structure }}</td>
              <td>{{ minerals.hardness }}</td>
              <td>{{ minerals.lustre }}</td>
              <td>{{ minerals.diaphaneity }}</td>
              <td>{{ minerals.color }}</td>
              <td>{{ minerals.is_Active }}</td>
              <td>
                <button
            type="button"
            class="btn btn-primary"
                  (click)="selectminerals($event, minerals)"
                  translate
                >
                  Edit
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
    </div>
    </div>
  </tab>  -->
</tabset>
