<div class="m-3" *ngIf="!loading">
  <div class="p-3 bg-success text-white">
    <table class="table">
      <thead>
        <tr *ngIf="licenceData">
          <th scope="col" translate >
            Application NO: {{ licenceData.Application_No }}
          </th>
          <th scope="col" translate>
            Service Name: {{ licenceData.Service_Name }}
          </th>
          <th scope="col" translate>Plot ID: {{ licenceData.Parcel_ID }}</th>
          <th scope="col" translate>
            Property ID: {{ licenceData.Property_ID }}
          </th>
          <th scope="col" translate>
            Certificate ID: {{ licenceData.Certificate_Code }}
          </th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="my-3 row">
    <div class="col-md-12">
      <ng-sidebar-container style="height: 50px">
        <ng-sidebar
          [(opened)]="_opened"
          [mode]="'push'"
          [closeOnClickOutside]="true"
        >
          <div>
            <div class="form-row mt-5">
              <div class="col-md-12">
                <div *ngIf="RequerdDocs">
                  <div
                    class="form-group row col-md-12"
                    *ngFor="let RequiredDoc of RequerdDocs; let i = index"
                  >
                    <label for="File" class="col-md-4 col-form-label">{{
                      RequiredDoc.description_en
                    }}</label>
                    <div class="col-md-10">
                      <p-fileUpload
                        id="File"
                        name="demo[]"
                        customUpload="true"
                        (uploadHandler)="upload($event, RequiredDoc)"
                        accept="application/pdf,image/*"
                      >
                        <ng-template pTemplate="content">
                          <!-- <ul *ngIf="uploadedFiles.length">
                             <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                           </ul>-->
                        </ng-template>
                      </p-fileUpload>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div *ngIf="!validated">
              <label class="text-primary">Need to save first, to upload files and write post in
                notes</label>
            </div>
          </div>

          <div class="form-group row col-sm-10 m-0" *ngIf="validated">
            <label>post in note</label>
            <textarea class="form-control mx-2 mb-2 border-primary" rows="4" style="background: rgb(202, 236, 255)" [(ngModel)]="NoteObj.remarks" placeholder="write post in note here ...">
                            </textarea>
            <button type="button" class="btn btn-primary mx-2" *ngIf="!this.NoteObj.postit_note_code"
              (click)="addNote()">
              Save
            </button>
            <button type="button" class="btn btn-primary mx-4" *ngIf="this.NoteObj.postit_note_code"
              (click)="saveNote()">
              Save
            </button>
            <button type="button" class="btn btn-danger mx-4" *ngIf="this.NoteObj.postit_note_code"
              (click)="DeleteNote()">
              Delete
            </button>
            <button type="button" class="btn btn-primary" *ngIf="this.NoteObj.postit_note_code"
              (click)="sendNote()">
              <span class="fa fa-telegram"></span> Send
            </button>
          </div>
     
          <button class="demo-control" (click)="_toggleOpened()">
            Close Upload
          </button>
          <div></div>
        </ng-sidebar>

        <div ng-sidebar-content>
          <header class="demo-header">
            <button
              (click)="_toggleOpened()"
              type="button"
              class="demo-header__toggle"
            >
              Toggle sidebar
            </button>
            <span>Upload File</span>
          </header>

          <section class="demo-contents"></section>
        </div>
      </ng-sidebar-container>
    </div>
  </div>

  <div>
    <div [ngSwitch]="ID">
      <!-- <div *ngIf="ID == 1"> -->
      <div *ngSwitchCase="1">
        <app-servy
          (completed)="saveForm($event)"
          [formcode]="formcode"
          [formData]="FormData"
        ></app-servy>
      </div>
      <div *ngSwitchCase="32">
        <app-list-mineral></app-list-mineral>
      </div>
      <div *ngSwitchCase="33">
        <app-mineral-use></app-mineral-use>
      </div>
      <div *ngSwitchCase="34">
        <app-resource-deposit></app-resource-deposit>
      </div>
      <div *ngSwitchCase="35">
        <app-site-list></app-site-list>
      </div> 
      <div *ngSwitchCase="36">
        <app-site-map></app-site-map>
      </div>
      <h3 class="not-fond-panel" *ngSwitchDefault>Form not found</h3>
    </div>
  </div>
  <div
    class="p-3 border-secondary border-5 bg-secondary text-white h-5 text-center m-10 mt-10"
  >
  <button type="button" class="btn btn-primary mr-2" (click)="Back()" translate>
    Back
  </button>
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="displayRivew=true;"
    >
      Review
    </button>
    <span class="dropdown">
      <button
        [disabled]="disablefins"
        type="button"
        class="btn btn-primary dropdown-toggle mr-2"
        data-toggle="dropdown"
        translate
      >
        Required Action
      </button>
      <span class="dropdown-menu">
        <a
          class="dropdown-item"
          *ngIf="tskTyp != 'c800fb16-f961-e111-95d6-00e04c05559b'"
          (click)="Submit('00000000-0000-0000-0000-000000000000')"
          >Submit/ላከው</a
        >
        <span *ngIf="tskTyp == 'c800fb16-f961-e111-95d6-00e04c05559b'">
          <span *ngFor="let DropDownLists of DropDownList">
            <a
              class="dropdown-item"
              (click)="SubmitAR(DropDownLists.task_rules_code)"
              >{{ DropDownLists.decision_rule_en }}</a
            >
            <li class="divider dropdown-divider"></li>
          </span>
        </span>
      </span>
    </span>
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="Close()"
      translate
    >
      Pend & close
    </button>
  </div>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<simple-notifications></simple-notifications>
<p-dialog [(visible)]="displayRivew" [modal]="true" [responsive]="true" width="700" height="700"   [maximizable]="true" [baseZIndex]="10000">
  
  <p-header>
    <h4 class="modal-title pull-left" translate>Review</h4>
  </p-header>
 
    <div class="modal-body">
      <div>
        <div class="col-sm-12">
          <div  *ngIf="ifAppNo" class="col-sm-12 row mb-3">
            <div class="col-sm-5" translate>Application No</div>
            <select
            class="form-control"
            [(ngModel)]="AppN"
            (change)="getAppData(AppN)"
            name="CustomerType"
            id="ApplicationLIst"
          >
            <option disabled>select</option>
            <option
              *ngFor="let AppNo of AppNoList"
              [value]="AppNo.Application_No"
            >
              {{ AppNo.Application_No }}
            </option>
          </select>
          </div>
          <div *ngIf="ifTask" class="col-sm-12 row mb-3">
            <div class="col-sm-5" translate>Task Name</div>
            <select
            
            class="form-control"
            [(ngModel)]="TaskN"
            (change)="getTaskData(TaskN)"
            name="CustomerType"
            id="TaskList"
          >
            <option disabled translate="">select</option>
            <option
              *ngFor="let Task of PreAppData"
              [value]="Task.tasks_task_code"
            >
              {{ Task.description_en }}
            </option>
          </select>
          </div>
          
  
          <p-table
            *ngIf="TaskN"
            [value]="PreTaskData"
            [paginator]="true"
            [rows]="5"
          >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" translate>Status</th>
                <th scope="col" translate>Start Date</th>
                <th scope="col" translate>End Date</th>
                <th scope="col" translate>Level</th>
                <th scope="col" translate></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
              <tr>
                <td>{{ task.status }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>
                <td>{{ task.level }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="SelectTask(task)"
                    translate
                  >
                    Select
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
  
          <div *ngIf="ifTaskDetail" class="mt-3">
            <tabset #staticTabs>
              <tab [heading]="'Form' | translate">
                <div class="mt-3">
                  <div *ngIf="preAppID == 1">
                    <app-form-display [formcode]="selectedTask.form_code" [formData]="selectedTask.JsonData" [Mode]="'display'"></app-form-display> 
                 </div>
                 <div *ngIf="preAppID == 2">
                   <!-- <app-vehicle-information></app-vehicle-information> -->
                 </div>
                 <div *ngIf="preAppID == 3">
                   <!-- <app-active-vehicle></app-active-vehicle> -->
                 </div>
                 <div *ngIf="preAppID == 4">
                   <!-- <app-request-schedule></app-request-schedule> -->
                 </div>
  
                </div>
              </tab>
              <tab [heading]="'Document' | translate">
                <div class="mt-3">
                  <div *ngIf="RequerdDocspre">
                    <div class="form-group row col-sm-10 m-0" *ngFor="let RequerdDocpre of RequerdDocspre; let i = index">
                      <label class="col-sm-4 col-form-label m-0">{{
                        RequerdDocpre.description_en
                        }}</label>
                      <div class="col-sm-10 m-0">
                        <div *ngIf="!RequerdDocpre.File"></div>
                        <div *ngIf="RequerdDocpre.File">
                          <img width="100%" [src]="RequerdDocpre.File" alt="FileUPloaded" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab [heading]="'Note' | translate">
                <div class="mt-3">
                  <select *ngIf="ifTask" class="form-control" #notedrop (change)="selectNote(notedrop.value)"
                  name="CustomerType" id="TaskList">
                    <option disabled>Select Notes</option>
                    <option *ngFor="let note of notes; let i = index;" [value]="i"> Note {{i+1}}</option>
                  </select>
                  <b style="font-size: larger;">Post It Note: </b>&nbsp;&nbsp;&nbsp;&nbsp;
                  <textarea class="note" [disabled]="true" style="background-color:   rgb(247, 251, 203); width: 400px; height: 100px;" >{{ currentRemark }}</textarea>
                </div>
              </tab>
            </tabset>
           
          </div>
        </div>
      </div>
    </div>
 
  
  <p-footer class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="displayRivew=false"
      translate
    >
      Done
    </button>
  </p-footer>

</p-dialog>
