<h3 class="font-weight-bold">Mineral Use</h3>
<div>
  <div class="m-3">
    
  
    <p-table
      [value]="mineralUses"
      [paginator]="true" [rows]="3"
      [resizableColumns]="true"
      
    >
      <ng-template pTemplate="header">
        
        <tr>
          <th pResizableColumn scope="col" translate>Resouce ID</th>
          <th pResizableColumn scope="col" translate>Plot ID</th>
          <th pResizableColumn scope="col" translate>GIS Plot</th>
          <th pResizableCoZlumn>Customer ID</th>
          <th pResizableColumn>Is Active</th>
          <th pResizableColumn>Remark</th> 
          <th pResizableColumn scope="col">
          
            <button
              type="button"
         
              class="btn btn-primary"
              (click)="clearForm()"
              translate
            >
              Add New
            </button>
          </th>
          <th></th>
        </tr>
        <tr *ngIf="IsAddFormVisible">
          <td class="col-sm-9">
            <select
              class="form-control"
              [(ngModel)]="mineralUse.resource_Id"
              #getdef_VATBusPostingGroup="ngModel"
              name="resource_Id"      
               placeholder="resource_Id  "
              id="resource_Id"
              required
            >
              <option disabled>select</option>
              <option
                *ngFor="let mineralUse of name_Ens"
                [value]="mineralUse.resource_Id"
              >
                {{ mineralUse.resource_Id }}
              </option>
            </select>
          </td>

          <td>  <input type="text" class="form-control form-control-sm" id="plot_Id" placeholder="plot_Id"  
            (click)="isAccountVisible=true" 
             [(ngModel)]="mineralUse.plot_Id" name ="plot_Id" readonly>          
            <p-dialog
              header="Plot ID" 
              [(visible)]="isAccountVisible"
              [modal]="true"
              [responsive]="true"
              [width]="500"
              [minWidth]="400"
              [minY]="70"
              [maximizable]="true"
              [baseZIndex]="10000"
            >
              <p-table [value]="accountNoo" [paginator]="true" [rows]="10"  [globalFilterFields]="['value','lable']" 
              #ptable
            >
            <ng-template pTemplate="caption">
              <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                  <div style="width: 100%;">
                    <i class="pi pi-search"></i>
                    <input  class="form-control" (input)="ptable.filterGlobal($event.target.value, 'contains')" placeholder="Search Globally" />
                  </div>  
                 </span>
             </div>  </ng-template>
             <ng-template pTemplate="header">
             <tr scope="col" translate>
             <th> Plot ID</th>
             <th>IS Deleted?</th>
            </tr>
           </ng-template>
                <ng-template pTemplate="body" let-account>
                    <tr (click)="onAccountSelectionChange(account)">
                      <td>{{account.value}}</td>
                      <td>{{account.label}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td>
                          No records found
                      </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-dialog>
          </td>
          <td>  
            <input type="text" class="form-control form-control-sm" id="gis_Plot_Id" placeholder="gis_Plot_Id"  
            (click)="isAccountVisiblees=true" 
             [(ngModel)]="mineralUse.gis_Plot_Id" name ="gis_Plot_Id" readonly>          
            <p-dialog
              header="GIS Plot Id" 
              [(visible)]="isAccountVisiblees"
              [modal]="true"
              [responsive]="true"
              [width]="500"
              [minWidth]="400"
              [minY]="70"
              [maximizable]="true"
              [baseZIndex]="10000"
            >
              <p-table [value]="accountNo" [paginator]="true" [rows]="10"  [globalFilterFields]="['value','lable']" 
              #ptable
            >
            <ng-template pTemplate="caption">
              <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                  <div style="width: 100%;">
                    <i class="pi pi-search"></i>
                    <input  class="form-control" (input)="ptable.filterGlobal($event.target.value, 'contains')" placeholder="Search Globally" />
                  </div>  
                 </span>
             </div>  </ng-template>
             <ng-template pTemplate="header">
             <tr scope="col" translate>
             <th> Plot ID</th>
             <th>IS Deleted?</th>
            </tr>
           </ng-template>
                <ng-template pTemplate="body" let-account>
                    <tr (click)="onAccountSelectionChangee(account)">
                      <td>{{account.value}}</td>
                      <td>{{account.label}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td>
                          No records found
                      </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-dialog>
          </td>
          <td>  <input type="text" class="form-control form-control-sm" id="Customer_ID" placeholder="Customer_ID"  
            (click)="isAccountModalVisible=true" 
             [(ngModel)]="mineralUse.customer_Id" name ="Customer_ID" readonly>          
            <p-dialog
              header="Customer ID" 
              [(visible)]="isAccountModalVisible"
              [modal]="true"
              [responsive]="true"
              [width]="700"
              [minWidth]="600"
              [minY]="70"
              [maximizable]="true"
              [baseZIndex]="10000"
            >
              <p-table [value]="accountNoos" [paginator]="true" [rows]="10"  [globalFilterFields]="['value','lable']" 
              #ptable
            >
            <ng-template pTemplate="caption">
              <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                  <div style="width: 100%;">
                    <i class="pi pi-search"></i>
                    <input  class="form-control" (input)="ptable.filterGlobal($event.target.value, 'contains')" placeholder="Search Globally" />
                  </div>  
                 </span>
             </div>  </ng-template>
             <ng-template pTemplate="header">
             <tr scope="col" translate>
             <th>Customer ID</th>
             <!-- <th>Name</th> -->
             <th>IS Active</th></tr>
           </ng-template>
                <ng-template pTemplate="body" let-account>
                    <tr (click)="onAccountSelectionChanges(account)">
                      <td>{{account.value}}</td>
                      <td>{{account.label}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td>
                          No records found
                      </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-dialog>
          </td>
          
           <td class="p-2">
            <input
              type="checkbox"
              [(ngModel)]="mineralUse.is_Active"
              class="form-control"
              name="is_Active"
              placeholder="is_Active"
              id="is_Active"
              required
            />
          </td> 
           <td class="p-2">
            <input
              type="text"
              [(ngModel)]="mineralUse.remarks"
              class="form-control"
              name="Remark"
              placeholder="Remark"
              id="Remark"
              required
            />
          </td>
          <td scope="col" rowspan="2" style="text-align: center">
            <button
              type="button"
           
              class="btn btn-primary" 
              (click)="saveData()"
              translate
            >
              Save
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mineralUses>
        <tr>
          <td>
            {{ mineralUses.resource_Id }}
          </td>
           <td>
            {{ mineralUses.plot_Id }}
          </td> 
          
           <td>
            {{ mineralUses.gis_Plot_Id }}
          </td> 
          <td>
            {{ mineralUses.customer_Id }}
          </td> 
            <td>
            {{ mineralUses.is_Active }}
          </td> 
          
           <td>
            {{ mineralUses.remarks }}
          </td> 
          
        <td> 
          <td>
            <button
            type="button"
            class="btn btn-primary"
              (click)="deletemineralUse(mineralUses)"
            >
              <i class="pi pi-trash"></i>
              Delete
            </button>
          </td> 
       
      </tr>
    </ng-template>
    </p-table>
  </div>
</div>
