<tabset #tabset>
  <tab heading="Mineral Site">
    <app-site (completed)="completed" [taskId]="taskId" 
    [(licenceData)]="licenceData" [workingUser]="workingUser"
    (saveDataCompleted)="saveDataCompleted" ></app-site>
  </tab>
  <tab heading="Resource Deposit" [disabled]="serviceService.resource_deposit">
    <app-resource-deposit (completed)="completed" [taskId]="taskId"  
    [(licenceData)]="licenceData" [workingUser]="workingUser"
    (saveDataCompleted)="saveDataCompleted" ></app-resource-deposit>
    
</tab>  
</tabset>