<div class="wrap">
  <div class="sidebar">
    <div class="sideTitle">
      <h2>ALL Licenced Sites</h2>
    </div>
    <div class="activeSite">
      <label class="container">Licenced Sites
        <input type="checkbox" (change)="allsite($event)">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="adminLayer">
      <!-- <label class="container">Zones
        <input type="checkbox" id="zone" value="zone" (change)="zone($event)" >
        <span class="checkmark"></span>
      </label>

      <label class="container">Regions
        <input type="checkbox" id="region" value="region" (change)="region($event)">
        <span class="checkmark"></span>
      </label> -->

      <!-- <label class="container">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label> -->
    </div>
  </div>
  <div class="main">
    <div id="map" style="width: 100%; height: 100%"></div>
  </div>
</div>
